



<div class="footer-div">
    <img class="image-ftr" src="/images/bds89_transparent_background._logo_for_app_that_helps_users_rec_8dbd865a-c364-4e51-a2c4-46dd61854913.png" alt="My Image">
    <h3>by Costa Papadopoulos 2023</h3>

</div>

</main>
</html>



