<%- include('../partials/header') %>

<body>
    <h1><%= title %></h1>
    <form class="workout-add" action="/workouts" method="POST">
        <label>Title:</label>
        <input type="text" name="title">
        <label>Date:</label>
        <input type="date" name="date">
        <input class="workout-add-btn" type="submit" value="Add Workout">
    </form>
  
</body>


<%- include('../partials/footer') %>