
<%- include('./partials/header') %>
<section id="modal-cont">
    <div class="modal">Thank you for using my app.
        <br>Please Log In using your Google account.</br>
        <br>Once logged in you can 'Add Workout'</br>
        <br>Please select the date and a title.</br>
        <br>You will then be redirected to the Info page.</br>
        <br>In the info page you can add different movements,weight, notes,
        sets and rep schemes.</br>
        <br>Once this has been submitted you can click the 'Add Movement'
        button and the details will be listed below.</br>
        <br>You can also delete the workout information using the 🗑️ emoji.</br>
        <br>To edit a workouts title or date, please click on the 'Workouts'
        button in the nav bar and click the edit reference.</br>
        <br>On the Workouts page you can also delete a workout.</br>

        <br>Please enjoy the app!</br>
    </div>
</section>

<div class="backdrop"></div>
<h2>Welcome to the Workout-App</h2>
<h3>Please click on the button below for instructions</h3>
<button class="app-guide-btn">App Guide</button>
<img class="image" src="/images/bds89_transparent_background._logo_for_app_that_helps_users_rec_8dbd865a-c364-4e51-a2c4-46dd61854913.png" alt="My Image">
    


<%- include('./partials/footer') %>

