* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  max-width: 300px;
  border: 2px solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

form input[type="submit"] {
  max-width: 100px;
  margin: 0 auto;
}

input:not([type="submit"]) {
  border-radius: 0;
  border: 2px solid;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}


